:root{
    --PrimaryColor: #fdfdfb;
    --SecondaryColor: #1c1c1e;
    --btnTxt: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Satoshi', sans-serif;
    background-color: #fdfdfb;
    font-size: 16px;
}

/*NAVBAR*/
.navbar{
  padding: 1rem 4rem;
  background-color: var(--SecondaryColor);
  scroll-behavior:smooth;
}

.nav-link{
    color: var(--PrimaryColor);
}

.navbar-nav{
  gap: 2rem;
}

.nav-link:hover{
    transform: scale(1.2);
}

/*HEADER*/
.containerPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 70rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    .presentation{
        width: 70%;
        margin: 0 auto;
        
    }

}

.presentation h1, h6, p {
    padding-top: 1.5rem;
}

.presentation h1 {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.4;
}



.presentation p{
    font-size: 1.2rem;
    margin: 1rem 2rem;
    width: 70%;
    line-height: 1.7;
}

.emailBtn{
    background-color: var(--SecondaryColor);
    width: 12rem;
    height: 3.3rem;
    border: none;
    border-radius: 25px;
    margin: 2rem auto;
}

.emailBtn a{
    text-decoration: none;
    color: var(--btnTxt);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
}

/*EDUCATION TIMELINE*/
.education{
    background-color: rgb(228, 225, 225);
    padding: 2rem;
}

.experienceSection{
    display: flex;
    justify-content: center;
    width: 80%;
}

@media(min-width: 768px) {
    .experienceSection{
        width: 50%;
        
    }

}

.experienceList{
    border-inline-start: 1.5px solid var(--SecondaryColor);
    position: relative;
}

.experienceItemList{
    list-style-type: none;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
}

.experienceItemList time{
    color: var(--SecondaryColor);
}

.experienceItemList h3{
   color: var(--SecondaryColor);
}

.experienceItemList p{
    color: var(--SecondaryColor);
    
}

.decorativeCircleList{
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--SecondaryColor);
    border-radius: 50%;
    position: absolute;
    left: -13px;
    border: 6px solid gray;
}

.title{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
}

/*PROJECTS*/
.projects{
    padding: 2rem;
    background-color: var(--SecondaryColor);
    color: var(--PrimaryColor);
}

.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
}

@media(min-width: 768px) {
    .projectsContainer{
        justify-content: space-between;
        padding: 2rem 3rem;
    }
}

@media(min-width: 768px) {
    .projectDescription{
        width: 45%;
    }
}

.projectImg{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.projectDescription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.accessProject{
    display: flex;
    gap: 1rem;
}

.accessProject h4{
    font-size: 1.3rem;
    text-align: left;
}

.txtProject{
    text-align: left;
}

.accessIcon{
    text-decoration: none;
    color: var(--PrimaryColor);
}

.gitHubIcon{
    font-size: 2rem;
    color: var(--PrimaryColor);
}

.tools{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;}

.accessIcon:hover, .gitHubIcon:hover{
    transform: scale(1.2);
}

footer{
    background-color: var(--PrimaryColor);
    color: var(--SecondaryColor);
    text-align: center;
    font-size: 0.8rem;
}

.contactIcon{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.contactIcon a{
    text-decoration: none;
    color: var(--SecondaryColor);
}



